{% extends "catalog/base.html" %}
{% block "title" %} Home {% endblock "title" %}
{% block "body" %}
    <div class="container-fluid px-0 mb-3">
        <img src="https://source.unsplash.com/1600x600/?iphone" class="d-block w-100 mx-0" alt="...">

    </div>
    <form method="post" action="/contact">
    {% csrf_token %}
        <h1 class="text-center">Contact Us</h1>
        <div class="container mb-3 py-4">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nguyen Thanh Binh">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Tell me about what you want to contact me for...</label>
                <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Summit</button>

    </div>
    </form>
{% endblock "body" %}
